In [1]:
import os
os.chdir("..")
from model import run_experiments
df = run_experiments(["test1"])

                  ___________    ____
  ________ __ ___/ / ____/   |  / __ \
 / ___/ __` / __  / /   / /| | / / / /
/ /__/ /_/ / /_/ / /___/ ___ |/ /_/ /
\___/\__,_/\__,_/\____/_/  |_/_____/
by cadCAD

cadCAD Version: 0.4.28
Execution Mode: local_proc
Simulation Dimensions:
Entire Simulation: (Models, Unique Timesteps, Params, Total Runs, Sub-States) = (1, 365, 47, 1, 10)
     Simulation 0: (Timesteps, Params, Runs, Sub-States) = (365, 47, 1, 10)
Execution Method: local_simulations
Execution Mode: single_threaded
Total execution time: 1.95s

In [2]:
df[["Applications", "Servicers", "Services", "Portals"]].applymap(lambda x: len(x))

     Applications  Servicers  Services  Portals
0               3          5         3        1
1               4          6         3        1
2               5          6         3        2
3               6          6         3        3
4               7          6         4        3
..            ...        ...       ...      ...
361            20         20         5        5
362            20         20         5        5
363            20         20         5        5
364            20         20         5        5
365            20         20         5        5

[366 rows x 4 columns]