In [1]:
import os
os.chdir("..")
from model import run_experiments
df = run_experiments(["test1"])

                  ___________    ____
  ________ __ ___/ / ____/   |  / __ \
 / ___/ __` / __  / /   / /| | / / / /
/ /__/ /_/ / /_/ / /___/ ___ |/ /_/ /
\___/\__,_/\__,_/\____/_/  |_/_____/
by cadCAD

cadCAD Version: 0.4.28
Execution Mode: local_proc
Simulation Dimensions:
Entire Simulation: (Models, Unique Timesteps, Params, Total Runs, Sub-States) = (1, 365, 61, 1, 12)
     Simulation 0: (Timesteps, Params, Runs, Sub-States) = (365, 61, 1, 12)
Execution Method: local_simulations
Execution Mode: single_threaded
Total execution time: 2.07s

In [2]:
df[["Applications", "Servicers", "Services", "Portals"]].applymap(lambda x: len(x))

     Applications  Servicers  Services  Portals
0               3          5         3        1
1               4          5         4        2
2               5          5         5        2
3               5          6         5        2
4               6          6         5        3
..            ...        ...       ...      ...
361            20         20         5        5
362            20         20         5        5
363            20         20         5        5
364            20         20         5        5
365            20         20         5        5

[366 rows x 4 columns]

In [3]:
[len(x.servicers) for x in df.iloc[-1]["Services"]]

[0, 5, 20, 20, 15]

In [4]:
[len(x.services) for x in df.iloc[-1]["Servicers"]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [5]:
[x.id_number for x in df['Applications'].iloc[-1]]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
[x.delegate for x in df['Applications'].iloc[-1]]

[None,
 <model.classes.portal.Portal at 0x7fba2078be20>,
 'P1',
 <model.classes.portal.Portal at 0x7fba2078bee0>,
 None,
 <model.classes.portal.Portal at 0x7fba2078bfd0>,
 None,
 <model.classes.portal.Portal at 0x7fba2078bfd0>,
 None,
 <model.classes.portal.Portal at 0x7fba2078be20>,
 None,
 <model.classes.portal.Portal at 0x7fba2078bf70>,
 None,
 <model.classes.portal.Portal at 0x7fba2078be50>,
 None,
 <model.classes.portal.Portal at 0x7fba2078bee0>,
 None,
 <model.classes.portal.Portal at 0x7fba2078bf70>,
 None,
 <model.classes.portal.Portal at 0x7fba2078bf70>]

In [9]:
[x.delegators for x in df['Portals'].iloc[-1]]

[['A3',
  <model.classes.application.Application at 0x7fba20793460>,
  <model.classes.application.Application at 0x7fba20793070>],
 [<model.classes.application.Application at 0x7fba207930a0>,
  <model.classes.application.Application at 0x7fba20793370>],
 [<model.classes.application.Application at 0x7fba20793100>,
  <model.classes.application.Application at 0x7fba207931f0>],
 [<model.classes.application.Application at 0x7fba20793280>,
  <model.classes.application.Application at 0x7fba207932b0>,
  <model.classes.application.Application at 0x7fba207934c0>],
 [<model.classes.application.Application at 0x7fba207933d0>]]