In [1]:
import os
os.chdir("..")
from model import run_experiments
df = run_experiments(["test1"])

                  ___________    ____
  ________ __ ___/ / ____/   |  / __ \
 / ___/ __` / __  / /   / /| | / / / /
/ /__/ /_/ / /_/ / /___/ ___ |/ /_/ /
\___/\__,_/\__,_/\____/_/  |_/_____/
by cadCAD

cadCAD Version: 0.4.28
Execution Mode: local_proc
Simulation Dimensions:
Entire Simulation: (Models, Unique Timesteps, Params, Total Runs, Sub-States) = (1, 365, 74, 1, 12)
     Simulation 0: (Timesteps, Params, Runs, Sub-States) = (365, 74, 1, 12)
Execution Method: local_simulations
Execution Mode: single_threaded
Total execution time: 3.06s

In [2]:
[(x.staked_pokt, x.pokt_holdings) for x in df["Applications"].iloc[20]]

[(2000, 0),
 (-272860, 0),
 (4000, 0),
 (-96990, 0),
 (-138160, 0),
 (15100, 0),
 (15100, 0),
 (15100, 0),
 (15100, 0),
 (-143810, 0),
 (-333680, 0)]

In [3]:
df[["Applications", "Servicers", "Services", "Gateways"]].applymap(lambda x: len(x))

     Applications  Servicers  Services  Gateways
0               3          5         3        1
1               3          6         4        2
2               4          6         4        3
3               5          7         4        4
4               5          8         5        4
..            ...        ...       ...      ...
361            16         17         4        5
362            16         17         5        5
363            16         17         5        5
364            16         17         5        5
365            15         18         5        5

[366 rows x 4 columns]

In [4]:
[len(x.servicers) for x in df.iloc[-1]["Services"]]

[5, 11, 16, 18, 4]

In [5]:
[len(x.services) for x in df.iloc[-1]["Servicers"]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [6]:
[x.id_number for x in df['Applications'].iloc[-1]]

[15, 48, 51, 52, 54, 55, 57, 62, 63, 64, 65, 66, 68, 69, 70]

In [7]:
[x.delegate for x in df['Applications'].iloc[-1]]

[<model.classes.gateway.Gateway at 0x7fe4f1b5aca0>,
 None,
 <model.classes.gateway.Gateway at 0x7fe4f1b5a8e0>,
 None,
 None,
 <model.classes.gateway.Gateway at 0x7fe4f1b5a8e0>,
 <model.classes.gateway.Gateway at 0x7fe4f1b5acd0>,
 None,
 <model.classes.gateway.Gateway at 0x7fe4f1b5a8e0>,
 None,
 <model.classes.gateway.Gateway at 0x7fe4f1b5a8e0>,
 None,
 None,
 <model.classes.gateway.Gateway at 0x7fe4f1b5a820>,
 None]

In [8]:
[x.delegators for x in df['Gateways'].iloc[-1]]

[[<model.classes.application.Application at 0x7fe4f1b5a9d0>,
  <model.classes.application.Application at 0x7fe4f1b5a9a0>,
  <model.classes.application.Application at 0x7fe4f1b5aa60>,
  <model.classes.application.Application at 0x7fe4f1b5aa00>],
 [<model.classes.application.Application at 0x7fe4f1b5aaf0>],
 [],
 [<model.classes.application.Application at 0x7fe4f1b5ac40>],
 []]