In [1]:
import os
os.chdir("..")
from model import run_experiments
df = run_experiments(["test1"])

                  ___________    ____
  ________ __ ___/ / ____/   |  / __ \
 / ___/ __` / __  / /   / /| | / / / /
/ /__/ /_/ / /_/ / /___/ ___ |/ /_/ /
\___/\__,_/\__,_/\____/_/  |_/_____/
by cadCAD

cadCAD Version: 0.4.28
Execution Mode: local_proc
Simulation Dimensions:
Entire Simulation: (Models, Unique Timesteps, Params, Total Runs, Sub-States) = (1, 365, 76, 1, 17)
     Simulation 0: (Timesteps, Params, Runs, Sub-States) = (365, 76, 1, 17)
Execution Method: local_simulations
Execution Mode: single_threaded
Total execution time: 4.42s

In [2]:
[(x.staked_pokt, x.pokt_holdings) for x in df["Applications"].iloc[20]]

[(2000, 0),
 (-2454070, 0),
 (4000, 0),
 (13160860.0, 80536644740724.53),
 (72000000.0, 51933916815658.31),
 (-187950.0, 53486902168875.375),
 (72000000.0, 36962167785820.55),
 (72000000.0, 69808024339383.62),
 (20015290.0, 18302707466035.777),
 (9500350.0, 22199054627133.87),
 (26840320.0, 3671602275063.0234)]

In [2]:
df

,simulation,subset,run,timestep,Geozones,Applications,DAO,Gateways,Services,Servicers,...,Treasury,Sessions,relay_fees,total_relays,processed_relays,substep,key,Experiment Name,State Set,Params Set
0,0,0,1,0,"[G1, G2, G3]",[<model.classes.application.Application object...,<model.classes.dao.DAO object at 0x7fd542601250>,[<model.classes.gateway.Gateway object at 0x7f...,[<model.classes.service.Service object at 0x7f...,[<model.classes.servicer.Servicer object at 0x...,...,None,[],0,NaN,NaN,0,0-0-1,test1,Test,Test
1,0,0,1,1,"[G1, G2, G3]",[<model.classes.application.Application object...,<model.classes.dao.DAO object at 0x7fd54263d790>,[<model.classes.gateway.Gateway object at 0x7f...,[<model.classes.service.Service object at 0x7f...,[<model.classes.servicer.Servicer object at 0x...,...,None,[],0,1694995.0,1694995.0,9,0-0-1,test1,Test,Test
2,0,0,1,2,"[G1, G2, G3]",[<model.classes.application.Application object...,<model.classes.dao.DAO object at 0x7fd52086b8e0>,[<model.classes.gateway.Gateway object at 0x7f...,[<model.classes.service.Service object at 0x7f...,[<model.classes.servicer.Servicer object at 0x...,...,None,[],0,1107808.0,1107808.0,9,0-0-1,test1,Test,Test
3,0,0,1,3,"[G1, G2, G3]",[<model.classes.application.Application object...,<model.classes.dao.DAO object at 0x7fd52087ad30>,[<model.classes.gateway.Gateway object at 0x7f...,[<model.classes.service.Service object at 0x7f...,[<model.classes.servicer.Servicer object at 0x...,...,None,[],0,1701836.0,1701836.0,9,0-0-1,test1,Test,Test
4,0,0,1,4,"[G1, G2, G3]",[<model.classes.application.Application object...,<model.classes.dao.DAO object at 0x7fd520895e20>,[<model.classes.gateway.Gateway object at 0x7f...,[<model.classes.service.Service object at 0x7f...,[<model.classes.servicer.Servicer object at 0x...,...,None,[],0,2253798.0,2253798.0,9,0-0-1,test1,Test,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,0,0,1,361,"[G1, G2, G3]",[<model.classes.application.Application object...,<model.classes.dao.DAO object at 0x7fd5299873a0>,[<model.classes.gateway.Gateway object at 0x7f...,[<model.classes.service.Service object at 0x7f...,[<model.classes.servicer.Servicer object at 0x...,...,None,[],0,7137769.0,7137769.0,9,0-0-1,test1,Test,Test
362,0,0,1,362,"[G1, G2, G3]",[<model.classes.application.Application object...,<model.classes.dao.DAO object at 0x7fd5299c54c0>,[<model.classes.gateway.Gateway object at 0x7f...,[<model.classes.service.Service object at 0x7f...,[<model.classes.servicer.Servicer object at 0x...,...,None,[],0,5416567.0,5416567.0,9,0-0-1,test1,Test,Test
363,0,0,1,363,"[G1, G2, G3]",[<model.classes.application.Application object...,<model.classes.dao.DAO object at 0x7fd5299f65e0>,[<model.classes.gateway.Gateway object at 0x7f...,[<model.classes.service.Service object at 0x7f...,[<model.classes.servicer.Servicer object at 0x...,...,None,[],0,5646915.0,5646915.0,9,0-0-1,test1,Test,Test
364,0,0,1,364,"[G1, G2, G3]",[<model.classes.application.Application object...,<model.classes.dao.DAO object at 0x7fd529a299d0>,[<model.classes.gateway.Gateway object at 0x7f...,[<model.classes.service.Service object at 0x7f...,[<model.classes.servicer.Servicer object at 0x...,...,None,[],0,5233984.0,5233984.0,9,0-0-1,test1,Test,Test
365,0,0,1,365,"[G1, G2, G3]",[<model.classes.application.Application object...,<model.classes.dao.DAO object at 0x7fd529a589a0>,[<model.classes.gateway.Gateway object at 0x7f...,[<model.classes.service.Service object at 0x7f...,[<model.classes.servicer.Servicer object at 0x...,...,None,[],0,5493050.0,5493050.0,9,0-0-1,test1,Test,Test

In [3]:
df[["Applications", "Servicers", "Services", "Gateways"]].applymap(lambda x: len(x))

     Applications  Servicers  Services  Gateways
0               3          5         3        1
1               3          6         4        2
2               4          6         4        3
3               5          7         4        4
4               5          8         5        4
..            ...        ...       ...      ...
361            16         17         4        5
362            16         17         5        5
363            16         17         5        5
364            16         17         5        5
365            15         18         5        5

[366 rows x 4 columns]

In [4]:
[len(x.servicers) for x in df.iloc[-1]["Services"]]

[5, 11, 16, 18, 4]

In [5]:
[len(x.services) for x in df.iloc[-1]["Servicers"]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [6]:
[x.id_number for x in df['Applications'].iloc[-1]]

[15, 48, 51, 52, 54, 55, 57, 62, 63, 64, 65, 66, 68, 69, 70]

In [7]:
[x.delegate for x in df['Applications'].iloc[-1]]

[<model.classes.gateway.Gateway at 0x7fe4f1b5aca0>,
 None,
 <model.classes.gateway.Gateway at 0x7fe4f1b5a8e0>,
 None,
 None,
 <model.classes.gateway.Gateway at 0x7fe4f1b5a8e0>,
 <model.classes.gateway.Gateway at 0x7fe4f1b5acd0>,
 None,
 <model.classes.gateway.Gateway at 0x7fe4f1b5a8e0>,
 None,
 <model.classes.gateway.Gateway at 0x7fe4f1b5a8e0>,
 None,
 None,
 <model.classes.gateway.Gateway at 0x7fe4f1b5a820>,
 None]

In [8]:
[x.delegators for x in df['Gateways'].iloc[-1]]

[[<model.classes.application.Application at 0x7fe4f1b5a9d0>,
  <model.classes.application.Application at 0x7fe4f1b5a9a0>,
  <model.classes.application.Application at 0x7fe4f1b5aa60>,
  <model.classes.application.Application at 0x7fe4f1b5aa00>],
 [<model.classes.application.Application at 0x7fe4f1b5aaf0>],
 [],
 [<model.classes.application.Application at 0x7fe4f1b5ac40>],
 []]