In [35]:
from datetime import datetime
import pandas as pd
from gql import gql, Client
from gql.transport.requests import RequestsHTTPTransport

# Choose your destiny: 'mainnet' or 'testnet'
network = 'mainnet'  # or 'testnet'
endpoints = {
    'mainnet': 'https://api.poktscan.com/poktscan/api/graphql',
    'testnet': 'https://api.testnet.poktscan.com/poktscan/api/graphql'
}

api_key = str(open("../../POKT Scan.txt", "r").read())

# Set up the headers with the provided API key and content type
headers = {
    "Authorization": api_key,
    "Content-Type": "application/json"
}

# Set up the transport with the chosen GraphQL endpoint and your headers
transport = RequestsHTTPTransport(
    url=endpoints[network],
    headers=headers,
    use_json=True
)

# Create the client
client = Client(transport=transport, fetch_schema_from_transport=True)

# Define your query here
query = gql("""
query {
  GetTopAccountsByBalance(
    input: {
      top: 1000
    }
  ) {
    point
    balance
    percentage
  }
}
""")

query = gql("""
query {
  ListSummaryBetweenDates(
    input: {
      start_date: "2023-01-01",
      end_date: "2023-11-01",
      unit_time: day
    }
  ) {
    points {
        point,
        apps_staked,
        total_relays,
        total_minted,
        total_servicer_rewards,
        total_base_servicer_rewards,
        total_relays
    }
  }
}
""")

try:   
    # Execute the query and get the results
    response = client.execute(query)

    # Convert the result to a pandas DataFrame
    df = pd.DataFrame(response['ListSummaryBetweenDates']['points'])

    # Generate a timestamp and integrate it into the filename
    current_time = datetime.now().strftime("%Y%m%d_%H%M%S")
    #filename = f"top_accounts_{current_time}.csv"

    # Save the DataFrame to a CSV
    #df.to_csv(filename, index=False)
    
except Exception as e:
    print(f"An error occurred: {e}")

In [36]:
df

,point,apps_staked,total_relays,total_minted,total_servicer_rewards,total_base_servicer_rewards
0,2023-01-01,2295,1198209947,870304219540,739758586694,692565349366
1,2023-01-02,2295,1192980812,855669348741,727318946486,668989159571
2,2023-01-03,2295,1181649748,740677334880,629575734648,576526912044
3,2023-01-04,2295,1197912495,741132385280,629962527488,584461506304
4,2023-01-05,2295,1385052317,856371572840,727915836914,675767025460
...,...,...,...,...,...,...
300,2023-10-28,2295,780545366,144335262996,122684973504,123404222363
301,2023-10-29,2295,843988708,154967682093,131722529731,133434614733
302,2023-10-30,2295,941037661,174086931422,147973891658,148778054200
303,2023-10-31,2295,1045269255,244031410537,207426698909,208425705055
304,2023-11-01,2295,939811911,224910242427,191173706015,192520469968

In [ ]:

​

​

​
# Set up the transport with the chosen GraphQL endpoint and your headers
transport = RequestsHTTPTransport(
    url=endpoints[network],
    headers=headers,
    use_json=True
)
​
# Create the client
client = Client(transport=transport, fetch_schema_from_transport=True)
​
# Define your query here
query = gql("""
query {
  GetTopAccountsByBalance(
    input: {
      top: 1000
    }
  ) {
    point
    balance
    percentage
  }
}
​
""")
​
try:   
    # Execute the query and get the results
    response = client.execute(query)
​
    # Convert the result to a pandas DataFrame
    df = pd.DataFrame(response['GetTopAccountsByBalance'])
​
    # Generate a timestamp and integrate it into the filename
    current_time = datetime.now().strftime("%Y%m%d_%H%M%S")
    filename = f"top_accounts_{current_time}.csv"
​
    # Save the DataFrame to a CSV
    df.to_csv(filename, index=False)
    
except Exception as e:
    print(f"An error occurred: {e}")